In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import  StandardScaler, MinMaxScaler
import datetime
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
cdna_df = pd.read_csv('test_cdna_data.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

/var/folders/cl/4zbw16hj6qb2lgkgb2840sb80000gn/T/ipykernel_29456/2508559318.py:1: DtypeWarning: Columns (15,16,17,18,19,45,46,47,56,58,71,228) have mixed types. Specify dtype option on import or set low_memory=False.
  cdna_df = pd.read_csv('test_cdna_data.csv')

In [3]:
cdna_df['v37'] = cdna_df['v37'].fillna(cdna_df['v35'])
cdna_df['v37'] = cdna_df['v37'].fillna(cdna_df['v6'])
cdna_df['v37'] = cdna_df['v37'].fillna(cdna_df['v34'])
columns = ['CUSTOMER_CODE', 'v2', 'v5', 'v15', 'v24', 'v27', 'v29', 'v30', 'v32', 'v36', 'v37', 'v42', 'v43', 'v44', 'v45', 'v49', 'v50',
 'v51', 'v52', 'v53', 'v54', 'v55', 'v60', 'v63', 'v65', 'v66', 'v68', 'v69', 'v71', 'v73', 'v74', 'v77', 'v79', 'v80', 'v81', 'v82', 'v84',
 'v86', 'v87', 'v88', 'v89', 'v90', 'v91', 'v92', 'v95', 'v96', 'v97', 'v98', 'v99', 'v100', 'v101', 'v102', 'v103', 'v104', 'v105', 'v106',
 'v128', 'v129', 'v130', 'v203', 'v204', 'v205', 'v206', 'v207', 'v208', 'v209', 'v224', 'v225', 'v226', 'v227', 'v228', 'v238', 'v239',
 'v240', 'v241', 'v243', 'v244', 'v252', 'v253', 'v254', 'v255', 'v257', 'v258', 'v259', 'v260', 'v261', 'v262', 'v263', 'v264', 'v265',
 'v266', 'v267', 'v268', 'v269', 'v270', 'v271', 'v272', 'v273', 'v274', 'v275', 'v276', 'v277', 'v278', 'v279', 'v280', 'v281', 'v282', 'v283',
 'v284', 'v285', 'v286', 'batch_date']
cdna_df = cdna_df[columns]

In [4]:
cdna_df['batch_date'] = pd.to_datetime(cdna_df['batch_date'], errors='coerce')
def merge_customer_entries(cdna_df):
    cdna_df = cdna_df.dropna(subset=['batch_date'])
    cdna_df = cdna_df.sort_values(by=['CUSTOMER_CODE', 'batch_date'], ascending=[True, False])
    merged_data = cdna_df.groupby('CUSTOMER_CODE').apply(lambda group: group.ffill().bfill().iloc[0])
    return merged_data.reset_index(drop=True)

cdna_df = merge_customer_entries(cdna_df)

In [5]:
cdna_df['v27'] = cdna_df['v27'].replace({
    'UNMARRIED': 'Unmarried', 
    'S': 'Unmarried', 
    'Single': 'Unmarried', 
    'SINGLE': 'Unmarried',
    'WIDOW': 'Widow',
    'MARRIED': 'Married', 
    'M': 'Married'
})
value_counts = cdna_df['v27'].value_counts()

In [6]:
cdna_df['v29'] = cdna_df['v29'].replace({
    'SELFEMPLOYEDBUSINESS': 'Self Employed Business', 
    'SELF EMPLOYED BUSINESS': 'Self Employed Business', 
    'SELF EMPLOYED': 'Self Employed', 
    'SELFEMP': 'Self Employed',
    'House Wife': 'Homemaker',
    'HOUSE WIFE': 'Homemaker',
    'OTHERSHOUSEWIFE': 'Homemaker',
    'HOMEMAKER':'homemaker',
    'Salarid-Public': 'Salaried-Public',
    'Salarid-Govt': 'Salaried-Govt',
    'Salaried - Govt' : 'Salaried-Govt',
    'RETIRED':'Retired',
    'FARMER': 'Farmer',
    'PENSIONER': 'Retired',
    'Retd. Pensioner': 'Retired',
    'TVS' : 'Employee',
    'EMPLOYEE': 'Employee',
    'Company labour':'Employee',
    'GROUP COMPANY EMPLOYEE' : 'Employee',
    'OTHERSSTUDENT':'Student',
    'STUDENT':'Student',
    'Salaried-Others':'Salaried',
    'SALARIED':'Salaried',
    'OTHERS':'OTHER',
    'OTHERSNOTCATEGORIZED':'OTHER',
    'INDIVIDUAL OTHERS':'OTHER',
    'INDIVIDUAL SELF EMPLOYED':'Self Employed',
    'INDIVIDUAL SALARIED':'Salaried',
    'Selp employed profesional': 'Self employed professional',
    'SELFEMPLOYEDPROFESSIONAL': 'Self employed professional',
    'AlliedAgri-Dairy':'Allied Agri-Dairy',
    'PROFESSIONAL':'Professional',
    'Agri-Marginal Farmer up to 2.5 Acre':'Agri-Marginal Farmer (up to 2.5 Acre)',
    'Self employed Non Professional': 'SELF EMPLOYED - NON PROFESSIONAL',
    'Labour-OtherLabour':'Labour',
    'Labour-Other  Labour':'Labour',
    'Agri-Small Farmer 2.5-5 Acre':'Agri-Small Farmer (2.5-5 Acre)',
    'Service-Tailor':'Tailor',
    'Labour-AgriLabour':'AgriLabour',
    'EMP' : 'Employee',
})

cdna_df['v54'] = cdna_df['v54'].replace({
    'MALE': 'Male' , 
    'M': 'Male', 
    'FEMALE': 'Female', 
    'F': 'Female',
    'THIRD GENDER': 'OTHERS',
    'U': 'OTHERS', 
    'O': 'OTHERS',
    'C':'OTHERS',
})

cdna_df['v55'] = cdna_df['v55'].str.split('.').str[0].str[1:]
cdna_df['v55'] = cdna_df['v55'].replace({
    'YMAIL': 'GMAIL', 
    'GAMIL': 'GMAIL', 
    'GMAI': 'GMAIL', 
    'GMAL': 'GMAIL',
    'GOOGLEMAIL': 'GMAIL',
    'REDIFF': 'REDIFFMAIL',
    'HMAIL': 'GMAIL',
    'GMIL': 'GMAIL',
    '123GMAIL': 'GMAIL',
    'GMIL' : 'GMAIL',
    'GEMAL':'GMAIL',
    'GMSIL': 'GMAIL',
    'GMIAL': 'GMAIL',
    'GMAAIL': 'GMAIL',
    'GIMAL' : 'GMAIL',
    'GMEIL': 'GMAIL',
    'REDIFMAIL':'REDIFFMAIL',
    'GMAIP' : 'GMAIL',
    'GNAIL':'GMAIL',
    'YOHOO':'YAHOO',
    'GMAOL':'GMAIL',
    '32GMAIL':'GMAIL',
    'GMIEL':'GMAIL',
    'GMAIOL':'GMAIL',
    'YHOO':'YAHOO',
    'GMAIO':'GMAIL',
    'GMQIL':'GMAIL',
    'GMAIK': 'GMAIL',
})

cdna_df[['v5']] = cdna_df[['v5']].replace('ZZ', np.nan)
cdna_df[['v30']] = cdna_df[['v30']].replace(False, np.nan)
cdna_df[['v30']] = cdna_df[['v30']].replace('ZZ', np.nan)
cdna_df[['v30']] = cdna_df[['v30']].replace('false', np.nan)
boolean_columns = ['v71', 'v73']  
cdna_df[boolean_columns] = cdna_df[boolean_columns].fillna(True)
cdna_df['v30'] = pd.to_numeric(cdna_df['v30'], errors='coerce')
cdna_df['v65'] = cdna_df['v65'].fillna(0.0)

In [7]:
cdna_df.head()

,CUSTOMER_CODE,v2,v5,v15,v24,v27,v29,v30,v32,v36,v37,v42,v43,v44,v45,v49,v50,v51,v52,v53,v54,v55,v60,v63,v65,v66,v68,v69,v71,v73,v74,v77,v79,v80,v81,v82,v84,v86,v87,v88,v89,v90,v91,v92,v95,v96,v97,v98,v99,v100,v101,v102,v103,v104,v105,v106,v128,v129,v130,v203,v204,v205,v206,v207,v208,v209,v224,v225,v226,v227,v228,v238,v239,v240,v241,v243,v244,v252,v253,v254,v255,v257,v258,v259,v260,v261,v262,v263,v264,v265,v266,v267,v268,v269,v270,v271,v272,v273,v274,v275,v276,v277,v278,v279,v280,v281,v282,v283,v284,v285,v286,batch_date
0,0001669127bc294ff6ed183ac433afab0fa11d4693a844...,35-39,99,NaN,0.0,Married,Self Employed,95.0,NaN,MDM,MAHARASHTRA,Loans for purchase of consumer durable goods -...,MARRIED,NaN,True,False,True,True,True,True,Male,NaN,N,NaN,0.0,NaN,NaN,NaN,True,False,NaN,NaN,NaN,38.0,Y,0,NaN,0,0,1,1,1,0,0,0,0,0,0,and,1,Tier 1,Self_Employed,True,0,1,0,43.80,43.8,43.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0,24.0,134.5,4.0,NaN,1337.0,379.0,745.000000,3.0,43551.0,43554.0,1337.0,379.0,745.000000,3.0,43551.0,43554.0,19.0,26.0,41.0,42.0,0.0,0.0,0.0,0.0,19.0,26.0,41.0,42.0,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,2024-11-29
1,0001c71b50ea6c119aec77ffd192472391f710735ca2a2...,30-34,NaN,Resident Individuals,NaN,Unmarried,Homemaker,4.0,54.0,MDM,GUJARAT,NaN,UNMARRIED,4.0,True,False,True,False,False,False,Female,GMAIL,N,100001 to 5L,1.0,True,False,True,False,False,False,101.0,0.0,33.0,Y,0,0.0,0,0,0,1,1,0,0,0,0,0,0,NaN,1,Rural,Homemaker,NaN,1,0,0,31.96,43.8,28.0,310.0,310.0,310.0,1.0,3600390.00,22101.0,22101.0,310.0,310.0,310.0,1.0,3600390.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,15.0,23.0,23.0,0.0,0.0,0.0,0.0,2.0,15.0,23.0,23.0,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,2024-11-29
2,000479c0458fc243ae3a438faf7bb07bf08bbd06d40f21...,35-39,99,Resident Individuals,0.0,Unmarried,Self Employed Business,2.0,84.0,MDM,KARNATAKA,Miscallenous,UNMARRIED,3.0,True,False,True,True,True,False,Male,NaN,N,NaN,0.0,NaN,NaN,NaN,True,False,NaN,NaN,0.0,40.0,N,0,0.0,0,0,1,1,1,0,0,0,0,0,0,ios,1,Tier 3,Self_Employed,True,1,1,0,30.00,30.0,30.0,283.0,283.0,283.0,1.0,0.00,22101.0,22101.0,1475.0,283.0,879.0,2.0,0.00,3107.0,283.0,1998.666667,3.0,43301.0,43664.0,3107.0,283.0,1998.666667,3.0,43301.0,43664.0,1.0,2.0,2.0,14.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0,17.0,MORNING,MORNING,EVENING,MORNING,EVENING,MORNING,EVENING,MORNING,FRIDAY,WEEKEND,WEEKEND,WEEKEND,WEEKEND,WEEKEND,WEEKDAY,WEEKDAY,2024-11-29
3,000506ebb235b426339661f5232625331e1d23250a70ad...,25-29,99,NaN,0.0,Unmarried,Salaried,95.0,19.0,MDM,WEST BENGAL,Loans for purchase of Motor Vehicle & Two-whee...,SINGLE,NaN,True,False,True,True,True,True,Male,NaN,NaN,NaN,0.0,NaN,NaN,NaN,True,False,NaN,NaN,NaN,26.0,Y,0,NaN,0,0,0,1,1,0,0,0,0,0,0,and,1,Tier 5,Salaried,False,0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,29.0,29.0,1.0,NaN,1817.0,847.0,1200.000000,6.0,43301.0,43554.0,1817.0,847.0,1200.000000,6.0,43301.0,43554.0,16.0,45.0,76.0,102.0,0.0,1.0,1.0,1.0,16.0,46.0,77.0,103.0,EVENING,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,WEEKDAY,WEEKEND,WEEKDAY,FRIDAY,WEEKDAY,FRIDAY,WEEKDAY,FRIDAY,2024-11-29
4,00078f5bb7beab72b9726129a326e3fd4f69347ce947d7...,20-24,NaN,Resident Individuals,NaN,Unmarried,Salaried,1.0,96.0,MDM,KERALA,NaN,UNMARRIED,3.0,True,False,True,False,False,False,Male,GMAIL,N,100001 to 5L,1.0,True,True,True,False,False,False,101.0,0.0,23.0,Y,1,0.0,0,0,0,1,1,0,0,0,0,0,0,ios,1,Tier 3,Salaried,NaN,1,0,0,29.00,30.0,28.0,643.0,643.0,643.0,1.0,10334.92,22101.0,22101.0,643.0,643.0,643.0,1.0,10334.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,35.0,53.0,157.0,0.0,0.0,0.0,0.0,28.0,35.0,53.0,157.0,MORNING,MORNING,MORNING,MORNING,MORNING,MORNING,EVENING,MORNING,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,WEEKDAY,WEEKEND,2024-11-29

In [8]:
def replace_rare_values(cdna_df, column, threshold=20):
    value_counts = cdna_df[column].value_counts()
    rare_values = value_counts[value_counts < threshold].index
    cdna_df[column] = cdna_df[column].replace(rare_values, 'Others')
    return cdna_df

cdna_df = replace_rare_values(cdna_df, 'v29', threshold=20)
cdna_df = replace_rare_values(cdna_df, 'v55', threshold=21)

In [9]:
object_columns = cdna_df.select_dtypes(include=['object']).columns
for col in object_columns:
    mode = cdna_df[col].mode()[0]  
    cdna_df[col].fillna(mode, inplace=True)
numeric_columns = cdna_df.select_dtypes(include=['number']).columns
cdna_df[numeric_columns] = cdna_df[numeric_columns].interpolate(method='linear', axis=0,limit_direction='both')

In [10]:
int_columns = cdna_df.select_dtypes(include=['int64', 'int32']).columns
scaler = MinMaxScaler()
cdna_df[int_columns] = scaler.fit_transform(cdna_df[int_columns])

float_columns = cdna_df.select_dtypes(include=['float64']).columns
scaler = StandardScaler()
cdna_df[float_columns] = scaler.fit_transform(cdna_df[float_columns])

In [11]:
cdna_df['v60'] = cdna_df['v60'].apply(lambda x: 1 if x == 'N' else 0)
cdna_df['v60'] = cdna_df['v60'].astype(int)
boolean_columns = cdna_df.select_dtypes(include=['bool']).columns
for col in boolean_columns:
    cdna_df[col] = cdna_df[col].astype(int)
exclude_columns = ['CUSTOMER_CODE']
object_columns = [col for col in cdna_df.select_dtypes(include=['object']).columns if col not in exclude_columns]
label_encoders = {}
for col in object_columns:
    le = LabelEncoder()
    cdna_df[col] = le.fit_transform(cdna_df[col])
    label_encoders[col] = le

In [12]:
cdna_df = cdna_df.drop(columns=['batch_date'])

In [18]:
cdna_df.to_csv('TEST_CDNA.csv', index = False)

In [19]:
hist_df = pd.read_csv('test_action_history.csv')

In [20]:
print(hist_df['send_timestamp'].mode())

0    2024-09-06T15:51:56.000Z
Name: send_timestamp, dtype: object

In [21]:
hist_df.dtypes

customer_code           object
Offer_id                object
Offer_subid             object
batch_id                 int64
product_category        object
product_sub_category    object
send_timestamp          object
open_timestamp          object
dtype: object

In [ ]:
time_slots = [
    (9, 12), (12, 15), (15, 18), (18, 21)  
]

def get_time_slot(timestamp):
    if pd.isnull(timestamp):
        return None  
    try:
        dt = datetime.strptime(timestamp, '%Y-%m-%dT%H:%M:%S.%fZ')
        weekday = dt.weekday()  
        hour = dt.hour
        for i, (start, end) in enumerate(time_slots):
            if start <= hour < end:
                day_slot = weekday * 4 + (i + 1) 
                return day_slot
        return None
    except Exception:
        return None

hist_df = hist_df.dropna(subset=['send_timestamp'])
hist_df['send_timestamp'] = hist_df['send_timestamp'].apply(get_time_slot)
hist_df['send_timestamp'].fillna(hist_df['send_timestamp'].mode()[0], inplace=True)
hist_df['send_timestamp'] = hist_df['send_timestamp'].astype('int64')
hist_df['open_timestamp'] = hist_df['open_timestamp'].apply(get_time_slot)
hist_df['open_timestamp'].fillna(0, inplace=True)
hist_df['open_timestamp'] = hist_df['open_timestamp'].astype('int64')
hist_df = hist_df.rename(columns={'customer_code': 'CUSTOMER_CODE'})

In [50]:
hist_df.head()

,CUSTOMER_CODE,Offer_id,Offer_subid,batch_id,product_category,product_sub_category,send_timestamp,open_timestamp
0,00be47975468d06b1e483afb3bd1271c7c17adb9841268...,AC_100046664,VR_200102840,50076589,CC_UPGRADE,UPI,25,0
1,0177ba64f8025697f914c5f95004b11f910f39b7800317...,AC_100046201,VR_200101326,50080743,CC_ACTIVATION,30D_ACTIVATION,22,22
2,01b5cfa431cb5a553f17ba798d548125fd2f5c5210904c...,AC_100053735,VR_200135492,50080084,CC_SPENDS,PORTFOLIO,23,23
3,02066bb8e12006529edece807b88b4bdbb1c25b3fdee07...,AC_100053422,VR_200134265,70000080,CC_INORGANIC,CC_LOAN_ON_CARDS,12,0
4,021ab34a32937f995eeba74fec48a8c6fd3e8c6c01de90...,AC_100053544,VR_200134788,50079633,CC_SPENDS,PORTFOLIO,21,0

In [51]:
hist_df = hist_df.drop(columns=['batch_id'])

In [52]:
exclude_columns = ['CUSTOMER_CODE']
object_columns = [col for col in hist_df.select_dtypes(include=['object']).columns if col not in exclude_columns]
label_encoders = {}
for col in object_columns:
    le = LabelEncoder()
    hist_df[col] = le.fit_transform(hist_df[col])
    label_encoders[col] = le

In [53]:
hist_df.head()

,CUSTOMER_CODE,Offer_id,Offer_subid,product_category,product_sub_category,send_timestamp,open_timestamp
0,00be47975468d06b1e483afb3bd1271c7c17adb9841268...,111,252,8,62,25,0
1,0177ba64f8025697f914c5f95004b11f910f39b7800317...,78,234,3,0,22,22
2,01b5cfa431cb5a553f17ba798d548125fd2f5c5210904c...,487,1525,7,50,23,23
3,02066bb8e12006529edece807b88b4bdbb1c25b3fdee07...,458,1442,4,13,12,0
4,021ab34a32937f995eeba74fec48a8c6fd3e8c6c01de90...,466,1469,7,50,21,0

In [54]:
hist_df.to_csv('TEST_HISTORY.csv', index=False)